Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["pdf-drive-root"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/home/ec2-user/pdf.zip" :
    mode: "000777"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/pdf-drive-root/pdf.zip

commands:
  unzip:
    command: unzip -fo pdf -d pdf-drive-root
    cwd: /home/ec2-user
  chmod:
    command: chmod o+rx .
    cwd: /home/ec2-user
